.app-picker {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  gap: 20px;
}

.app-picker-header
{
  font-size: calc(10px + 2vmin);
}

.app-picker-app-id
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
